@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
html,
body {
  margin: 0;
}

body {
  background: linear-gradient(0.25turn, #030303, #3023a3, #030303);
  font-family: "Raleway", sans-serif;
}

#header {
  display: flex;
  flex-direction: column;
  /* margin: 0px 0px 20px 0px;
  border: 1px solid black; */
  width: 98%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #e6d9d957;
  padding: 20px 10px;
  /* margin-top: -10px; */
}

#header h1 {
  color: #ffffff;
}

.link-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: whitesmoke;
}

a {
  color: #ffffff;
} /* Unvisited link  */
a:visited {
  color: #ffffff;
} /* Visited link    */
a:hover {
  color: #ffffff;
} /* Mouse over link */
a:active {
  color: #ffffff;
}

.link-container a {
  padding: 0px 10px;
  text-decoration: none;
}

.weather-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  margin: 5px;
}

#weather-input {
  margin: 5px 50px;
  width: 30%;
  height: 60%;
  font-family: "Raleway", sans-serif;
  background-color: rgba(138, 113, 75, 0.541);
  border: none;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  color: rgba(177, 151, 3, 0.65);
}

#search {
  width: 10%;
  height: 30%;
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 10px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  background: linear-gradient(0.25turn, #030303, #3023a3, #030303);
}

.forecast-container {
  display: flex;
  flex-direction: row;
  /* border: 1px solid white; */
  justify-content: center;
  margin: 0 auto;
  width: 98%;
  height: 30vh;
  background: linear-gradient(0.25turn, #030303, #3023a3, #030303);
}

/* .daily-weather {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  margin: 0;
  background: linear-gradient(0.25turn, #160f58bb, #0c0c8573, #160f58bb);
  align-items: center;
  align-self: center;
  color: rgba(250, 235, 215, 0.781);
  overflow-x: hidden;
} */

.daily-data-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  margin: 0 1px;
  background: linear-gradient(0.25turn, #160f58bb, #0c0c8573, #160f58bb);
  align-items: center;
  align-self: center;
  color: rgba(250, 235, 215, 0.781);
  /* overflow-x: hidden; */
}

.daily-data-container p {
  margin: 8px auto;
}

.current-weather {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  border-radius: 25px;
  margin: 2% 0px;
  height: 50vh;
  width: 50vh;
  background: linear-gradient(0.25turn, #160f58bb, #0c0c8573, #160f58bb);
  align-items: center;
  align-self: center;
  color: rgba(250, 235, 215, 0.781);
}

.current-weather:hover {
  transform: scale(1.02);
  transition: 0.8s ease;
  box-shadow: 5px 4px #160f58bb;
}

.current-weather img {
  width: 20%;
}

.current-weather p {
  margin: 5px 5px;
  font-size: 20px;
}

/* section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15vh;
  order: 1;
  margin-top: 5px; 
} */

footer {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #e6d9d957;
  padding: 20px 10px;

  font-family: "Raleway", sans-serif;
}

@media only screen and (max-width: 605px) {
  #container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    height: 80vh;
    width: 50vh;
    background: linear-gradient(0.25turn, #030303, #3023a3, #030303);
  }
  .current-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    border-radius: 25px;
    margin: 5% auto;
    height: auto;
    width: 90%;
    background: linear-gradient(0.25turn, #160f58bb, #1616ee73, #160f58bb);
    align-items: center;
    align-self: center;
    color: rgba(250, 235, 215, 0.781);
  }

  .current-weather:hover {
    transform: none;
    transition: none;
  }

  #weather-input {
    margin: 5px 50px;
    /* width: 80%; */
    height: 40%;
    font-family: "Raleway", sans-serif;
    background-color: rgba(138, 113, 75, 0.541);
    border: none;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    color: rgba(177, 151, 3, 0.65);
  }

  #search {
    width: 15%;
    height: 20%;
    font-family: "Raleway", sans-serif;
    border: none;
    border-radius: 5px;
  }

  .forecast-container {
    width: 85%;
  }

  .daily-data-container {
    display: flex;
    flex-direction: column;
    width: 18%;
  }
  .daily-data-container h4 p {
    font-size: 4px;
  }
}
