@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
html,
body {
  margin: 0;
}

body {
  background: linear-gradient(0.25turn, #030303, #3023a3, #030303);
  font-family: "Raleway", sans-serif;
}

#header {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #e6d9d957;
  padding: 20px 10px;
  margin-bottom: 10px;
}

#header h1 {
  color: #ffffff;
}

.link-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: whitesmoke;
}

a {
  color: #ffffff;
}
a:visited {
  color: #ffffff;
}
a:hover {
  color: #ffffff;
}
a:active {
  color: #ffffff;
}

.link-container a {
  padding: 0px 10px;
  text-decoration: none;
}

.weather-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  margin: 5px;
}

#weather-input {
  margin: 5px 50px;
  width: 30%;
  height: 60%;
  font-family: "Raleway", sans-serif;
  background-color: rgba(138, 113, 75, 0.541);
  border: none;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  color: rgba(177, 151, 3, 0.65);
}

#search {
  width: 10%;
  height: 30%;
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 10px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  background: linear-gradient(0.25turn, #030303, #3023a3, #030303);
}

.forecast-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 98%;
  height: 30%;
  background: linear-gradient(0.25turn, #030303, #3023a3, #030303);
  margin-top: 10px;
  margin-bottom: 0px;
}

.daily-data-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  border-radius: 25px;
  margin: 0 1px;
  background: linear-gradient(0.25turn, #160f58bb, #0c0c8573, #160f58bb);
  align-items: center;
  align-self: center;
  color: rgba(250, 235, 215, 0.781);
}

.daily-data-container p {
  margin: 8px auto;
}

.current-weather {
  display: flex;
  flex-direction: column;
  font: 16px;
  border-radius: 25px;
  margin: 2% 0px;
  height: 30%;
  width: 35vw;
  background: linear-gradient(0.25turn, #160f58bb, #0c0c8573, #160f58bb);
  align-items: center;
  align-self: center;
  color: rgba(250, 235, 215, 0.781);
  margin-bottom: 50px;
}

.current-weather p {
  margin: 12px 0px;
  font-size: 15px;
}

.current-weather:hover {
  transform: scale(1.02);
  transition: 0.8s ease;
  box-shadow: 5px 4px #160f58bb;
}

.current-weather p {
  margin: 1px 0px;
  font-size: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 0 auto;
  margin-top: 100px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #e6d9d957;
  padding: 20px 10px;
  font-family: "Raleway", sans-serif;
  position: absolute;
}

@media only screen and (max-width: 805px) {
  .forecast-container {
    display: flex;
    flex-direction: row;
    width: 95%;
    flex-wrap: wrap;
    order: 1;
  }

  .daily-data-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    margin-bottom: 5px;
  }
  .daily-data-container p,
  h4 {
    font-size: 12px;
  }

  footer {
    order: 2;
    bottom: -605px;
  }
}
